@import "src/vars.scss";

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  z-index: 20;

  .link {
    text-decoration: none;
    color: $clr-light;
    font-size: large;

    &:hover {
      .logo {
        scale: 1.5;
        rotate: 360deg;
      }
    }

    .name {
      text-transform: uppercase;
    }

    .logo {
      transition: 0.5s;
    }

    .group {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }
  }
}
