@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@font-face {
  font-family: unical;
  src: url(assets/fonts/LHFUncialCapsRegular.ttf);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  background-color: #333;
  color: white;
  height: 100vh;
  background-color: rgb(117, 76, 0);
}

button,
input {
  font-family: inherit;
}

@media (max-width: 1600px) {
  body {
    height: auto;
    min-height: 100vh;
  }
}
