@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@font-face {
  font-family: unical;
  src: url(assets/fonts/LHFUncialCapsRegular.ttf);
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}


:root {
  --clr-dark: #e2e2e2;
  --clr-accent: #003C43;
  --clr-light: white;
  --clr-btn-prim: #aa25b4;
  --clr-btn-sec: #215162;
  --clr-gold: #ff9c00;
  --font-header: unical;
  --screen-medium: max-width: 1600px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  background-color: #333;
  color: white;
  height: 100svh;
}

button, input {
  font-family: inherit;

}

@media (max-width: 1600px) {
  body {
    height: auto;
    min-height: 100svh;
  }
}