$clr-dark: #e2e2e2;
$clr-accent: #003c43;
$clr-light: white;
$clr-btn-prim: #aa25b4;
$clr-btn-sec: #215162;
$clr-gold: #ff9c00;
$font-header: unical;
$screen-sm: 600px;
$screen-md: 1200px;
$screen-lg: 1600px;
